*{text-decoration: none; margin: 0; padding: 0;}
html,body{margin: 0; padding: 0; font-family: Verdana, Geneva, sans-serif;color: #222; font-size: 16px; line-height: 1.4}
img{border: none; max-width: 100%;}
div{display: block; margin: 0; padding: 0;}
u{text-decoration: underline;}
s{text-decoration: line-through;}
i, .italic{font-style: italic;}
b, .bold{font-weight: bold;}
a:link, a:visited, a:active{text-decoration: none; color: inherit;}
.Fright{float: right;}
.Fleft{float: left;}
.clear{clear: both;}
.container{width: 100%; margin: auto; max-width: 1600px;}
.row{margin: 0 40px;}
.align-left{text-align: left;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.uppercase{text-transform: uppercase;}
.center{text-align: center;}
.relative{position: relative;}
.white{color: #fff;}
.hidden{display: none;}
.red{color: #ea3323;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font23{font-size: 23px;}
.link:hover{cursor: pointer; text-decoration: underline;}
.marg30{margin: 30px 0;}
.grey-small{font-size: 12px; color: #c1c1c1; margin-bottom: 7px !important;}
.next-links{font-size: 14px;}
.next-links:hover{color: #3377d6;}

header{background: url('../images/HFD_header.png') no-repeat; background-size: cover; min-height: 185px; margin-bottom: 30px;}
header img{max-width: 16%;}
header .container{padding-top: 30px;}
.subheader{font-size: 18px;}
sup{font-size: 15px;}
		
/*	main content css */
h1{font-size: 41px; margin-bottom: 5px;}
#main-content{width: 65%; margin-right: 10%;}
#main-content p, #main-content h2{margin-bottom: 15px;}
#right-column{width: 25%;}
.author{font-size: 14px; padding-left: 25px; margin: 15px 0;}
.author-title{color: #cb5d9d; font-weight: bold;}
.column-title p{color: #fff; background: #3377d6; font-size: 18px; padding: 10px; display: inline-block;}
.column-title{border-bottom: 2px solid #3377d6;}
.ad-box{margin-top: 60px; text-align: center;}
.normal-list{margin-bottom: 15px; padding-left: 45px;}
.normal-list li{margin-bottom: 5px;}
.margin-list li{margin-bottom: 20px;}
.CTA{color: #fff; padding: 15px 0; width: 250px; border-radius: 3px; text-align: center; margin: 30px auto; font-size: 20px;
	 cursor: pointer; border: 1px solid #cb5d9d; background: rgba(203,93,157,1); 
    background: -moz-linear-gradient(top, rgba(203,93,157,1) 0%, rgba(219,114,175,1) 16%, rgba(217,143,186,1) 44%, rgba(219,114,175,1) 55%, rgba(203,93,157,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,93,157,1)), color-stop(16%, rgba(219,114,175,1)), color-stop(44%, rgba(217,143,186,1)), color-stop(55%, rgba(219,114,175,1)), color-stop(100%, rgba(203,93,157,1)));
    background: -webkit-linear-gradient(top, rgba(203,93,157,1) 0%, rgba(219,114,175,1) 16%, rgba(217,143,186,1) 44%, rgba(219,114,175,1) 55%, rgba(203,93,157,1) 100%);
    background: -o-linear-gradient(top, rgba(203,93,157,1) 0%, rgba(219,114,175,1) 16%, rgba(217,143,186,1) 44%, rgba(219,114,175,1) 55%, rgba(203,93,157,1) 100%);
    background: -ms-linear-gradient(top, rgba(203,93,157,1) 0%, rgba(219,114,175,1) 16%, rgba(217,143,186,1) 44%, rgba(219,114,175,1) 55%, rgba(203,93,157,1) 100%);
    background: linear-gradient(to bottom, rgba(203,93,157,1) 0%, rgba(219,114,175,1) 16%, rgba(217,143,186,1) 44%, rgba(219,114,175,1) 55%, rgba(203,93,157,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb5d9d', endColorstr='#cb5d9d', GradientType=0 );}
.CTA:hover{text-decoration: underline; background: #cb5d9d;}
.post-image-div{text-align: center; margin: 30px 0;}
.caption{margin-top: 5px; font-size: 12px;}

		
/*	social share css */
.social-share{margin-top: 30px;}
.icons{width: 45px;}
.button-icons{border: 0; outline: 0; width: 50px; display: inline-block;}
#email-icon{width: 48px;}
.hvr-grow-shadow{display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: box-shadow, transform; transition-property: box-shadow, transform;}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active{box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transform: scale(1.1); transform: scale(1.1);}

/*	scroll to top arrow css */
.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); margin-bottom: 30px;
         overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0;
		 -webkit-transition: opacity .3s 0s, visibility 0s .3s;
		 -moz-transition: opacity .3s 0s, visibility 0s .3s;
		 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
		 -webkit-transition: opacity .3s 0s, visibility 0s 0s;
		 -moz-transition: opacity .3s 0s, visibility 0s 0s;
		 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible {visibility: visible;opacity: 1;}
.no-touch .cd-top:hover {background-color: #e86256;opacity: 1;}

footer{margin-top: 50px; background: #3377d6; color: #fff; font-size: 12px; padding: 20px 0;
	   text-align: center;}
.advertise{width: 50%; margin: 20px auto;}

/*. media query for devices smaller than 1440 */
@media only screen and (min-width: 1100px) and (max-width: 1440px) { header{min-height: 265px;} }
/*. media query for devices between 1440 and 2600 */
@media only screen and (min-width: 1441px) and (max-width: 2600px) { header{min-height: 340px;} }

/*. media query for mobile devices. */
@media only screen and (max-width: 768px) {
		header{margin-bottom: 20px; min-height: 75px;}
		header img{max-width: 20%;}
		header .container{padding-top: 10px;}
		.Rfloat, .Lfloat{float: none;}
		#main-content, #right-column{width: 100%;}
		h1{font-size: 30px;}
		.row{margin: 0 15px;}
		.mobile-center{text-align: center;}
		.advertise{width: 100%; margin: 20px auto;}
}